

    <style>
    .br{
       border:  2px solid black;
    }
    .p0{
        padding: 0 !important
    }
    .br div{
        padding: 0;
    }
    p,span,label,h4,h3,h5{
        font-weight: bold;
    }


</style>

<div class="container" id="print-section"> 
    <div class="col-12 text-center">
        <h3>وزارت بهداشت درمان و آموزش پزشکی</h3>
        <h4>Ministry of Health & Medical Education</h4>
    </div>
    <div class="row mt-1">
        <div class="col-12 d-flex justify-content-around">
            <div>
                <img style="width: 100px;height: auto;" src="../../../assets/img/gallery/barcode.png" alt="">
            </div>
            <h4>دانشگاه علوم پزشکی داشگاه علوم پزشکی ایران </h4>
            <h4>:University of Medical Science </h4>
        </div>

</div>
<div class="row mt-1">
    <div class="col-12  d-flex justify-content-around">
        <div>
                <span>کد تریاژ</span>
                <span>123456789</span>
        </div>
        <h4> مرکز پزشکی آموزشی درمانی  بیمارستان رایاوران توسعه </h4>
        <h4>:Medical Center</h4>
    </div>
</div>
<div class="row mt-1">
    <div class="col-12  d-flex justify-content-around">
        <div class="col-3 ">
            <div class="br" style="width:220px;height:50px; ">   
                         شماره پرونده
                         <span>
                            Record No:
                        </span>
            </div>
          
        </div>
        <div class=" col-6 text-center">
            <h4>   فرم تریاژ بخش اورژانس بیمارستان </h4>
            <h5>HOSPITAL EMERGENCY DEPARTMENT trIAGE FORM </h5>
        </div>
        <div class="col-3 text-left" style="direction: ltr;">
            <div style="width:220px;height:50px" class="br text-left">
                <span class="text-right">
                    سطح تریاژ بیمار
               </span>
               <span>
                   سطح 3
               </span></div>
        </div>
    </div>
</div>
<div class="row mt-1 col-12 br d-flex justify-content-around" style="direction: rtl;">
        <div class="col-6 d-flex" style="text-align: right;border-left: 2px solid black;" >
          <div class="col-6 d-flex justify-content-between " style="border-left: 1px solid black;">
                <div class="col-4"> نام خانوادگی  </div>
                <div class="col-2">...</div>
                <div class="col-6 ">Family Name</div>
          </div>
          <div class="col-6 d-flex justify-content-between ">
            <div class="col-4"> نام   </div>
            <div class="col-2">...</div>
            <div class="col-6" > Name</div>
      </div>
           
        </div>
        <div class="col-6" style="text-align: right;">
            <div class="col-12 d-flex">
                <div class="col-4" style="border-left: 1px solid black;">
                    <div>
                        <span style="margin-left: 20px;"> جنس </span>
                        <span class="font-weight-bold " > </span>
                        <span style="margin-right: 20px;">: Sex</span>
                    </div>
                    <div>
                        <span style="margin-left: 20px;"> مذکر </span>
                        <input type="checkbox">
                        <span style="margin-right: 20px;"> M</span>
                        <span style="margin-left: 20px;"> مونث </span>
                        <input type="checkbox">
                        <span style="margin-right: 20px;"> F</span>
                    </div>
                </div>
                <div class="col-8">
                    <div>
                        <span style="margin-left: 20px;"> تاریخ مراجعه </span>
                        <span class="font-weight-bold mx-5" > 1399/08/10</span>
                        <span style="margin-right: 20px;">: Date of Arrival</span>
                    </div>
                    <div>
                        <span style="margin-left: 20px;"> ساعت مراجعه </span>
                        <span class="font-weight-bold mx-5" > 12:25</span>
                        <span style="margin-right: 20px;">: Time of Arrival</span>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2 " style="border-top: 1px solid black;">
                <span style="margin-left: 20px;"> باردار  </span>
                <span class="font-weight-bold mx-5" > بلی</span>
                <input type="checkbox">
                <span class="font-weight-bold mx-5" > Yes</span>
                <span class="font-weight-bold mx-5" > خیر</span>
                <input type="checkbox">
                <span style="margin-left: 20px;"> Pregnant  </span>
                <span class="font-weight-bold mx-5" > No</span>
                
            </div>
        </div>
</div>
<div class="row col-12 br d-flex justify-content-around" style="direction: rtl;padding: 0;">
    <div class="col-12 mt-1 d-flex justify-content-between" style="text-align: right;">
    <h4>نحوه مراجعه</h4>
    <h4>:Arrival Mode </h4>
    </div>
    <div class="col-12 mt-1 " style="text-align: right;">
        <span>آمبولانس 115</span>
        <input type="checkbox" class="mx-3">
        <span>EMS </span>
        <span style="margin-right: 60px;">آمبولانس خصوصی</span>
        <input type="checkbox" class="mx-3">
        <span>Private Ambulance  </span>
        <span style="margin-right: 60px;"> شخصی</span>
        <input type="checkbox" class="mx-3">
        <span>By Her Own </span>
        <span style="margin-right: 60px;">امداد هوایی </span>
        <input type="checkbox" class="mx-3">
        <span>Air Ambulance   </span>
        <span style="margin-right: 60px;"> سایر</span>
        <input type="checkbox" class="mx-3">
        <span>Other   </span>
    </div>
    <div class="col-12 d-flex justify-content-between " style="text-align: right;border-top: 1px solid black;">
        <div class="col-4 mt-1">
            <p>مراجعه بیمار در 24 ساعت گذشته</p>
        </div>
        <div class="col-4 d-flex mt-1" style="text-align: right;direction: rtl;">
            <div class="col-4">
                <span>همین بیمارستان</span>
                <input type="checkbox">
            </div>
            <div class="col-4">
                <span>بیمارستان دیگر </span>
                <input type="checkbox">
            </div>
            <div class="col-4">
                <span>خیر</span>
                <input type="checkbox">
            </div>
        </div>
        <div class="col-4 mt-1" style="text-align: left;">
            <p>  :Patient Presence in ED in 24 Past Hours   </p>
        </div>
        
    </div>
    <div class="col-12 d-flex justify-content-between"  style="text-align: right">
        <div class="col-4"></div>
        <div class="col-4 d-flex mt-1">
            <div class="col-4">
                <span> This Hospital</span>
            </div>
            <div class="col-4">
                <span>Other Hospital

                </span>
            </div>
            <div class="col-4">
                <span>No</span>
            </div>

        </div>
        <div class="col-4"></div>
    </div>
    
</div>
<div class="row col-12 br d-flex justify-content-around" style="direction: rtl;">
    <div class="col-12 mt-1 " style="text-align: right;">
        <h5 class="font-weight-bold">شکایت اصلی</h5>
    </div>
    <div class="col-12  d-flex justify-content-between " style="text-align: right;">
        <div class="d-flex">
            <h5 class="font-weight-bold">شرح شکایت بیمار :</h5>
            <span>afhdf</span>
        </div>
        <div>
            <span>Chief Complaint
            </span>
        </div>
    </div>
    <div class="col-12 mt-2  d-flex justify-content-between " style="text-align: right;">
        <div >
            <p class="font-weight-bold">سابقه حساسیت دارویی:   </p>
           
        </div>
        <div>
                <p>History of Drug and Food Allergy</p>
        </div>
    </div>
</div>
<div class="col-12 d-flex  justify-content-between" style="direction: rtl;text-align: right;">
    <div class="">  
          <p> بیماران سطح 1 (شرایط تهدید کننده حیات )</p>
    </div>
    <div  ><span>...................................................</span></div>
    <div >  
        <p>
            Triage level 1 (Life threatening situation)
        </p>
  </div>
</div>
<div class="row col-12 br d-flex justify-content-between" style="direction: rtl;padding: 0;">
            <div class="col-12 d-flex justify-content-between">
                <div>
                    <span>
                        سطح هوشیاری بیمار:

                    </span>
                </div>
                <div  style="text-align: right;direction: rtl;">
                    <span >
                        بدون پاسخ
                    </span>
                    <input type="checkbox">
                </div>
                <div>
                    <span>
                        پاسخ به محرک دردناک
                   </span>
                   <input type="checkbox">
                </div>
                <div>
                    <span>
                        پاسخ به محرک کلامی
                    </span>
                    <input type="checkbox">
                </div>
                <div>
                    <span>
                        هوشیار
                   </span>
                   <input type="checkbox">
                </div>
                
            </div>
            <div class="col-12 d-flex justify-content-between">
                <div>
                    <span>
                        سیستم:(AVPU)
                    </span>
                    
                </div>
                <div>
                    <span>
                        Unresponsive (U)             
                     </span>
                </div>
                <div>
                    <span>
                        Response to Pain Stimulus(P)          
                     </span>
                </div>
                <div>
                    <span>
                        Response to Verbal Stimulus(V)             
                     </span>
                </div>
                <div>
                    <span>
                        Alert (A)
             
                     </span>
                </div>
             
            
            
            
            
            
            
            </div>
            <div class="col-12 d-flex justify-content-between" style="border-top: 1px solid black;">
                <div style="border-left: 1px solid black;text-align: right;">
                    <label for="">مخاطره راه هوایی</label>
                    <input type="checkbox" name="" id="">
                    <p>
                        Airway compromise
                    </p>
                </div>
                <div style="border-left: 1px solid black;text-align: right;">
                    <label for=""> دیسترس شدید تنفسی </label>
                    <input type="checkbox" name="" id="">
                    <p>
                        Sever Respiratory Distress          
                              </p>
                </div>
                <div style="border-left: 1px solid black;text-align: right;">
                    <label for="">  سیانوز</label>
                    <input type="checkbox" name="" id="">
                    <p>
                        Cyanosis
                    </p>
                </div>
                <div style="border-left: 1px solid black;text-align: right;">
                    <label for="">  علایم شوک</label>
                    <input type="checkbox" name="" id="">
                    <p>
                        Signs of Shock
                    </p>
                </div>
                <div>
                    <label for=""> اشباع اکسیژن کمتر از 90 درصد </label>
                    <input type="checkbox" name="" id="">
                    <p>
                        SpO2 < 90
                    </p>
                </div>
                
            </div>
           
         
       
       
        
        
     
    </div>
    <div class="col-12 mt-1 d-flex  justify-content-between" style="direction: rtl;text-align: right;">
        <div class="">  
              <p> بیماران سطح 2 </p>
        </div>
        <div class="p0" ><span>..............................................................................................................................</span></div>
        <div class="p0">  
            <p>
                Triage level 2 
            </p>
      </div>
    </div>
    <div class="row col-12 br d-flex justify-content-between" style="direction: rtl;padding: 0;">
  
        <div class="col-12 d-flex " >
            <div class="col-3" style="border-left: 1px solid black;text-align: center">
                <label for="">شرایط پر خطر   </label>
                <input type="checkbox" name="" id="">
                <p>
                    High Risk Conditions           
                     </p>
            </div>
            <div class="col-3" style="border-left: 1px solid black;">
                <label for=""> 
                    لتارژی خواب آلودگی اختلال جهت یابی 
                
                </label>
                <input type="checkbox" name="" id="">
                <p>
                    
                    lethargy/ confusion/ disorientation
                          </p>
            </div>
            <div class="col-3 text-center" style="border-left: 1px solid black;">
                <label for="">  دیترس شدید روان </label>
                <input type="checkbox" name="" id="">
                <p>
                    Sever psychiatric Distress
                                </p>
            </div>
            <div  class="d-flex col-3 justify-content-around">
                <div style="margin-top: 10px">
                    <span for="">   درد شدید</span>
                    <p>
                        Sever Pain

                    </p>
                </div>
                <div style="margin-top: 10px">
                    <div style="padding: 0">10</div>
                    <div style="width: 20px;height: 1px;background-color: black"></div>
                    <div>10</div>
                </div>



            </div>
        </div>
        <div class="col-12 d-flex " style="border-top: 1px solid;">
            <div class="col-6 d-flex justify-content-between ">
                <p>سابقه پزشکی </p>
                <p>
                     Medical history 
                     </p>
            </div>
            <div class="col-6 d-flex justify-content-between ">
                <p>سابقه دارویی </p>
                <p>
                    Drug history 
                     </p>
            </div>
        </div>
        <div class="col-12 d-flex d-flex justify-content-between " style="border-top: 1px solid;">
                <p class="font-weight-bold">علایم حیاتی  </p>
                <p class="font-weight-bold">:sign Vital </p>
        </div>
        <div class="col-12 d-flex justify-content-between" style="flex-wrap: nowrap;">
            <div class="">
                <span>:فشارخون</span>
                 <span>  ___   </span>  
                 <span>BP <small>mmHg</small></span> 
            </div>
            <div  class="">
                <span>تعداد ضربان</span>
                 <span>  ___   </span>  
                 <span>PR/min</span> 
            </div>
            <div  class="">
                <span>:تنفس</span>
                 <span>  __   </span>  
                 <span>RR/min</span> 
            </div>
            <div class="">
                <span>:دمای بدن</span>
                 <span>  ___   </span>  
                 <span>T</span> 
            </div>
            <div  class="">
                <span>:درصد اشباع اکسیژن </span>
                 <span>  __   </span>  
                 <span>Spo2%</span> 
            </div>
        </div>
</div>
<div class="col-12 mt-1 d-flex  justify-content-between" style="direction: rtl;text-align: right;">
    <div class="">  
          <p> بیماران سطح 3 </p>
    </div>
    <div class="p0" ><span>..............................................................................................................................</span></div>
    <div class="p0">  
        <p>
            Triage level 3
        </p>
  </div>
</div>
<div class="row col-12 br d-flex justify-content-between" style="direction: rtl;padding: 0;">
  
   
    <div class="col-12 d-flex ">
        <div class="col-6 d-flex justify-content-between ">
            <p> تعداد تسهیلات مورد نظر در بخش اورژانس </p>
            <p>
                  دو مورد بیشتر 
                  <input type="checkbox">
                 </p>
        </div>
        <div class="col-6 d-flex justify-content-between ">
            <p> TWO & More </p>
            <p>
                :Number of Required Resources in ED 
                 </p>
        </div>
    </div>
    <div class="col-12 d-flex d-flex justify-content-between " style="border-top: 1px solid;">
            <p class="font-weight-bold">علایم حیاتی  </p>
            <p class="font-weight-bold">:sign Vital </p>
    </div>
    <div class="col-12 d-flex justify-content-between" style="flex-wrap: nowrap;">
        <div class="">
            <span>:فشارخون</span>
             <span>  ___   </span>  
             <span>BP <small>mmHg</small></span> 
        </div>
        <div  class="">
            <span>تعداد ضربان</span>
             <span>  ___   </span>  
             <span>PR/min</span> 
        </div>
        <div  class="">
            <span>:تنفس</span>
             <span>  __   </span>  
             <span>RR/min</span> 
        </div>
        <div class="">
            <span>:دمای بدن</span>
             <span>  ___   </span>  
             <span>T</span> 
        </div>
        <div  class="">
            <span>:درصد اشباع اکسیژن </span>
             <span>  __   </span>  
             <span>Spo2%</span> 
        </div>
    </div>
</div>
<div class="col-12 mt-1 d-flex  justify-content-between" style="direction: rtl;text-align: right;">
    <div class="">  
          <p> بیماران سطح 4 و 5 </p>
    </div>
    <div class="p0" ><span>..............................................................................................................................</span></div>
    <div class="p0">  
        <p>
            Triage level 4&5
        </p>
  </div>
</div>
<div class="row col-12 br d-flex justify-content-between" style="direction: rtl;">
  
   
    <div class="col-12 d-flex ">
        <div class="col-6 d-flex justify-content-between ">
            <p> تعداد تسهیلات مورد نظر در بخش اورژانس </p>
            <p>
                   یک مورد 
                  <input type="checkbox">
                 </p>
                 <p>One item</p>
        </div>
        <div class="col-6 d-flex justify-content-between ">
            <p> هیچ</p>
            <p>
                   None  
                  <input type="checkbox">
                 </p>
                 <p>: ED in Resources Required of Number</p>
        </div>
    </div>
   
</div>
<div class="row col-12 br mt-2 d-flex justify-content-between" style="direction: rtl;padding: 0;">
    <div class="col-12 d-flex justify-content-between ">
            <p> سطح تریاژ بیمار        </p>
            <p>
                  5   
                  <input type="checkbox">
                 </p>
                 <p>
                    4  
                    <input type="checkbox">
                   </p>
                   <p>
                    3   
                    <input type="checkbox">
                   </p>
                   <p>
                    2   
                    <input type="checkbox">
                   </p>
                   <p>
                    1  
                    <input type="checkbox">
                   </p>
                   <p>
                    Patient Triage level: 
                   </p>
        
     
    </div>
    <div class="col-12 d-flex d-flex justify-content-between " style="border-top: 1px solid;">
            <p class="font-weight-bold">جداسازی بیمار و احتیاطات بیشتر کنترل عفونت   </p>
            <p class="font-weight-bold">تماسی 
            <input type="checkbox">    
            </p>
            <p class="font-weight-bold">قطره ای  
                <input type="checkbox">    
                </p>
                <p class="font-weight-bold">تنفسی 
                    <input type="checkbox">    
                    </p>
                    <p class="font-weight-bold">نیاز ندارد 
                        <input type="checkbox">    
                        </p>
    </div>

    <div class="col-12 d-flex d-flex justify-content-between ">
            <p class="font-weight-bold">Patient Isolation and More Infection Control Precautions       </p>
            <p class="font-weight-bold">Contact 
            </p>
            <p class="font-weight-bold">Droplet 
                </p>
                <p class="font-weight-bold">Airborne 
                    </p>
                    <p class="font-weight-bold">No Need to Isolation  
                        </p>
    </div>
    <div class="col-12 d-flex d-flex justify-content-between " style="border-top: 1px solid black;">
        <div>  
                  <p class="font-weight-bold">ارجاع به</p>
        </div>
        <div>
                <label for="">سرپایی</label>
                <input type="checkbox" name="" id="">
                <span>Fast track</span>
        </div>
        <div>
            <label for="">احیا</label>
            <input type="checkbox" name="" id="">
            <span> CPR</span>
        </div>
        <div>
            <label for="">فضای بستری</label>
            <input type="checkbox" name="" id="">
            <span>Inpatient Area </span>
        </div>
        <div>
            <label for="">سایر...</label>
            <input type="checkbox" name="" id="">
            <span>Other </span>
        </div>

        <div>  
            <p class="font-weight-bold">  :Refer to </p>
  </div>
        
</div>
<div class="col-12 d-flex justify-content-between" style="border-top: 1px solid black;">
    <div class="col-6 d-flex">
        <p>ساعت و تاریخ ارجاع</p>
        <span>.........</span>
    </div>
    <div class="col-6 d-flex">
        <p> نام و نام خانوتدگی مهر و امضای پرستار تریاژ  </p>
        <span>.........</span>
    </div>
</div>
<div class="col-12 d-flex justify-content-between" >
    <div class="col-6 d-flex">
        <p> Date & Time of Referral:  </p>
        <span>.........</span>
    </div>
    <div class="col-6 d-flex">
        <p>  Triage Nurse’s Name/Signature/Stamp     </p>
        <span>.........</span>
    </div>
</div>
<div class="col-12 d-flex justify-content-between" style="border-top: 1px solid black;">
<p>توضیحات
    <span>......</span>
</p>
<p>
    <span>
        .......
    </span>
    Description
    
</p>

</div>
</div>
  
</div>