<div class="row">
  <div class="col-sm-12">
    <div class="content-header">سوالات متداول</div>
    <p class="content-sub-header">ما برای کمک اینجا هستیم</p>
  </div>
</div>
<!-- faq starts -->
<section id="faq">
  <div class="row">
    <div class="col-12">
      <div class="card gradient-purple-bliss white text-center p-4">
        <div class="card-header">
          <h1>ما برای کمک اینجا هستیم</h1>
          <p><em>اگر شما هر گونه سوال شما می توانید از زیر درخواست کنید و یا آنچه را که دنبال آن هستید وارد کنید!</em></p>
        </div>
        <div class="card-body">
          <fieldset class="form-group col-xl-12 col-lg-10 col-10">
            <input type="text" class="form-control" placeholder="جستجو در سوالات متداول..." (input)="filter($event.target.value)"
              #messageInput>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card text-truncate">
        <div class="card-body">
          <ngb-accordion [closeOthers]="true">
            <ngb-panel [id]="faq.faqId" *ngFor="let faq of faqs">
              <ng-template ngbPanelTitle>
                <h5 class="mb-0"><i class="icon-question mr-2"></i> <span> {{faq.title}}</span></h5>
              </ng-template>
              <ng-template ngbPanelContent>
                <div >
                  {{faq.content}}
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- faq Ends -->
