<!--Under Maintenance Starts-->
<section id="maintenance" class="full-height-vh">
  <div class="container-fluid">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img src="../../../../assets/img/gallery/maintenance.png" alt="" class="img-fluid maintenance-img mt-2"
              height="300" width="400">
            <h1 class="text-white mt-4">تحت نگهداری! </h1>
            <div class="w-75 mx-auto maintenance-text mt-3">
              <p class="text-white">
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد
              </p>
            </div>
            <button class="btn btn-primary btn-lg mt-4"><a href="dashboard1.html" class="text-decoration-none text-white">
              بازگشت به صفحه اصلی
            </a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Under Maintenance Starts-->
