<!--Invoice template starts-->
<div class="row">
  <div class="col-md-12">
    <h4>صورتحساب</h4>
  </div>
</div>
<section class="invoice-template">
  <div class="card">
    <div class="card-body p-3">
      <div id="invoice-template" class="card-block">
        <!-- Invoice Company Details -->
        <div id="invoice-company-details" class="row">
          <div class="col-md-6 col-sm-12 text-center text-md-left">
            <img src="assets/img/logos/logo-big-black.png" alt="company logo" class="mb-2" width="80" height="80">
            <ul class="px-0 list-unstyled">
              <li class="text-bold-800">استدیو ضبط صدا</li>
              <li>خیابان 57</li>
              <li>میدان ولیعصر،</li>
              <li>تهران،</li>
              <li>ایران</li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12 text-center text-md-right">
            <h2>صورتحساب</h2>
            <p class="pb-3"># INV-001001</p>
            <ul class="px-0 list-unstyled">
              <li>تعادل</li>
              <li class="lead text-bold-800">1200000 ریال</li>
            </ul>
          </div>
        </div>
        <!--/ Invoice Company Details -->
        <!-- Invoice Customer Details -->
        <div id="invoice-customer-details" class="row pt-2">
          <div class="col-sm-12 text-left">
            <p class="text-muted">به</p>
          </div>
          <div class="col-md-6 col-sm-12  text-center text-md-left">
            <ul class="px-0 list-unstyled">
              <li class="text-bold-800">آقای احمد رضایی</li>
              <li>کوچه 45،</li>
              <li>خیابان اقاقیا،</li>
              <li>تهران،</li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12 text-center text-md-right">
            <p><span class="text-muted">تاریخ صورتحساب :</span> 08/12/97</p>
            <p><span class="text-muted">مقررات :</span> بر اساس رسید</p>
            <p><span class="text-muted">تاریخ تحویل :</span> 10/12/97</p>
          </div>
        </div>
        <!--/ Invoice Customer Details -->
        <!-- Invoice Items Details -->
        <div id="invoice-items-details" class="pt-2">
          <div class="row">
            <div class="table-responsive col-sm-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>مورد و شرح</th>
                    <th class="text-right">نرخ</th>
                    <th class="text-right">ساعت ها</th>
                    <th class="text-right">میزان</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>
                      <p>ایجاد فایل فتوشاپ برای نرم افزار اندروید</p>
                      <p class="text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                    </td>
                    <td class="text-right">20000 ریال/ ساعت</td>
                    <td class="text-right">120</td>
                    <td class="text-right">20000 ریال</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>
                      <p>برنامه توسعه iOS</p>
                      <p class="text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
                    </td>
                    <td class="text-right">20000 ریال/ ساعت</td>
                    <td class="text-right">120</td>
                    <td class="text-right">20000 ریال</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>
                      <p>توسعه قالب وردپرس</p>
                      <p class="text-muted">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
                    </td>
                    <td class="text-right">20000 ریال/ ساعت</td>
                    <td class="text-right">120</td>
                    <td class="text-right">20000 ریال</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 text-left">
              <p class="lead">روش های پرداخت:</p>
              <div class="row">
                <div class="col-12">
                  <table class="table table-borderless table-sm">
                    <tbody>
                      <tr>
                        <td>نام بانک:</td>
                        <td class="text-right">ایران، بانک ملت</td>
                      </tr>
                      <tr>
                        <td>نام اصلی:</td>
                        <td class="text-right">علی زمانی</td>
                      </tr>
                      <tr>
                        <td>شماره کارت:</td>
                        <td class="text-right">FGS165461646546AA</td>
                      </tr>
                      <tr>
                        <td>شماره حساب:</td>
                        <td class="text-right">BTNPP34</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <p class="lead">مجموع به دلیل</p>
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>زیر مجموع</td>
                      <td class="text-right">120000 ریال</td>
                    </tr>
                    <tr>
                      <td>مالیات بر ارزش افزوده (12٪)</td>
                      <td class="text-right">70000 ریال</td>
                    </tr>
                    <tr>
                      <td class="text-bold-800">جمع کل</td>
                      <td class="text-bold-800 text-right"> 10000000 ریال</td>
                    </tr>
                    <tr>
                      <td>پرداخت انجام شده</td>
                      <td class="pink text-right">(-) 1000 ریال</td>
                    </tr>
                    <tr class="bg-grey bg-lighten-4">
                      <td class="text-bold-800">تخفیف</td>
                      <td class="text-bold-800 text-right">120000 ریال</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="text-center">
                <p>فرد مجاز</p>
                <img src="assets/img/pages/signature-scan.png" alt="signature" class="width-250">
                <h6>علی زمانی</h6>
                <p class="text-muted">مدیر عامل</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Invoice Footer -->
        <div id="invoice-footer">
          <div class="row">
            <div class="col-md-9 col-sm-12">
              <h6>شرایط و وضعیت</h6>
              <p>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. 
              </p>
            </div>
            <div class="col-md-3 col-sm-12 text-center">
              <button type="button" class="btn btn-primary btn-raised my-1"><i class="fa fa-paper-plane-o"></i> 
              ارسال صورت حساب
              </button>
            </div>
          </div>
        </div>
        <!--/ Invoice Footer -->
      </div>
    </div>
  </div>
</section>
<!--Invoice template ends-->
